div{
    width: 300px;
    height: 300px;
    float: left;
    border: solid 1px #333;
}
img{
    width: 80%;
    border: solid 1px #333;
    padding: 10px;

}


/*FOTO - GIRA A IMG 50º SENTIDO HORÁRIO: */
#foto img{
    transform: rotate(0deg); /pra voltar do giro/
    transition: 2s all; /volta devagar/
}
#foto img:hover{
    transform: rotate(50deg); /gira sentido horario até os 50º/
    transition: 2s all; /gira devagar/
}


/*FOTO1 - AUMENTA A IMAGEM MENOR: */
#foto1 img{
    transform: rotateX(50deg); /*deixo a imagem menor */
    transition: 2s all; /volta devagar/
}

#foto1 img:hover{
    transform: rotateX(0deg); /pra voltar do giro pra ficar padrão/
    transition: 2s all; /gira devagar/
}


/*FOTO2 - ESPELHADO: */
#foto2 img{
    transition-duration: 1s; /volta mais rápido pro padrão/
}

#foto2 img:hover{
    transform: rotateY(180deg); /pra fazer girar 180º/
    transition: 2s all; /gira devagar/
}


/*FOTO3 - VEM PRA DIREITA EM BAIXO: */
#foto3 img{
    transition-duration: 1s; /volta mais rápido pro padrão/
}

#foto3 img:hover{
    transform: translate(100px, 50px); /sai da tela 100px(X) e 50px(Y)/
    transition: 2s all; /faz devagar/
}


/*FOTO4 - VAI PRA DIREITA: */
#foto4 img{
    transition-duration: 1s; /volta mais rápido pro padrão/
}

#foto4 img:hover{
    transform: translateX(200px); /sai da tela 200px para a direita/
    transition: 2s all; /faz devagar/
}


/*FOTO5 - CAMBALHOTA: */
#foto5 img{
    transition-duration: 0.5; /volta ainda mais rápido pro padrão/
}

#foto5 img:hover{
    transform: translate(100px, 50px) rotate(180deg); /sai da tela 100px(X) e 50px(Y) enquanto ainda gira/
    transition: 2s all; /faz devagar/
}


/*FOTO6 - DIMINUI A IMAGEM: */
#foto6 img{
    transition-duration: 0.5; /volta ainda mais rápido pro padrão/
}

#foto6 img:hover{
    transform: scale(0.5); /quando scale < 1 = diminui a imagem./
    transition: 2s all; /faz devagar/
}


/*FOTO7 - AUMENTA A IMAGEM: */
#foto7 img{
    transition-duration: 0.5; /volta ainda mais rápido pro padrão/
}

#foto7 img:hover{
    transform: scale(1.5); /quando scale > 1 = aumenta a imagem./
    transition: 2s all; /faz devagar/
}


/*FOTO8 - AQUI VIROU BAGUNÇA: */
#foto8 img{
    transition-duration: 0.5; /volta ainda mais rápido pro padrão/
}

#foto8 img:hover{
    transition: all 1s ease-out; /faz devagar/
    -webkit-transform: scale(1.8) translate(20px, 50px) rotate(360deg);
}

.muda_fundo{
    background-image: url(../imagens/ferrari.jpg);
    background-size: cover;
    width: 450px;
    transition: 2s all;
}

.muda_fundo:hover{
    background-image: url(../imagens/ferrari1.jpg);
    transition: 2s all;
}

/* moldura em texto */
.efeito_texto{
    font-family: verdana;
    font-weight:bold;
    font-size: 50px;
    -webkit-text-fill-color: #F00;
    -webkit-text-fill-color: #000;
    -webkit-text-stroke-width: 2px;
    clear: left;
}

#box{
    width: 300px;
    height: 200px;
    border:1px solid;
    background-color: #DF9;
    box-shadow:10px 10px 10px #090; /* sombreado do componente */
    border-radius: 20px; /*cantos arredondados */
    padding: 10px;
}

.sombra_texto{
    font-family: verdana;
    font-weight: bold;
    font-size: 50px;
    text-shadow: 5px 5px 10px #099; /*sombreado do texto */
    clear: left;
}

.colunas{
    font-family: verdana;
    font-weight: bold;
    font-size: 12px;
    -webkit-column-count:3; /* no. de colunas */
    -webkit-column-rule:1px solid #666; /* separador de colunas */
    -webkit-column-gap:1em; /* espacamento entre as colunas */
    text-align:justify;
}